@model List<Dish>

@await Html.PartialAsync("_NavigationBar")
<h2 class="text-center">Yum! Check out our tasty dishes!</h2>
<hr>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Chef</th>
            <th scope="col">Tastiness</th>
            <th scope="col">Calories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Dish dish in Model)
        {
            <tr>
                <th scope="row">@dish.Name</th>
                <th>@dish.Cuisinier?.FirstName @dish.Cuisinier?.LastName</th>
                <th scope="row">@dish.Tastiness</th>
                <th scope="row">@dish.Calories</th>
            </tr>
        }
    </tbody>
</table>